:root {
    --font-ABC: 'you-font';
    --color-01: red;
    --color-02: yellow;
    --color-03: green;
}
body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: red;
    margin-bottom: 20px;
}
span {
    display: block;
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
}

.container {
    width: 1000px;
    margin: 0 auto;
}


.position-relative {
    position: relative;
}